*{
    transition: ease-in-out 0.3s;
}
body{
    background-image: url(../img/background.gif);
    background-repeat: no-repeat;
    background-position: center;
}
main{
    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 10vw;
    margin-top: 200px;
    display: flex;
    gap: 5px;
}
.main--shadow{

    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 10vw;
    margin-top: 190px;
}
img{
    width: 40px;
    height: 40px;
    border-right: 1px solid #00ffd093;
    padding: 5px;
}
.main_left-menu{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}
ul{
    padding: 5px;
    height: 93%;
    overflow-y:scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
ul::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
ul::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #00FFD2;
}

ul::-webkit-scrollbar-track:hover {
  background-color: #00F1C6;
}

ul::-webkit-scrollbar-track:active {
  background-color: #00E9C0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #FEEF00;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #F3E500;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #E7D900;
}
.main_chat-selection{
    cursor: pointer;
    display: flex;
    gap: 15px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #00ffd2;
    border-radius: 5px;
    &:hover{
        opacity: 60%;
    }
}
.search{
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
}
.search input{
    width: 100%;
    background-color: transparent;
    border: 1px solid #00ffd2;
    color: #feef02;

}
.search input::placeholder{
    color: #feef02;
    opacity: 0.7;
}
.chat-info{
    display: flex;
    flex-direction: column;
}
.chat-info_last-msg{
    opacity: 0.5;
    width: 70%;
    overflow: hidden;
}
.main_chat{
  border-left: 1px solid #00ffd2;
  width: 100%;

}
.top-info{
  padding: 5px;
  width: 100%;
  height: 5vh;
  display: flex;
  border-bottom: 1px solid #00ffd2;
  cursor: pointer;
  &:hover{
    opacity: 70%;
  }
}
.top-info img{
  border: none;
}
.top-info_text-info{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.chat_msg{
  height: 85%;
  border-bottom: 1px solid #00ffd2;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.517);
  scroll-behavior: smooth;
}
.chat_msg::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
.chat_msg::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #00FFD2;
}

.chat_msg::-webkit-scrollbar-track:hover {
  background-color: #00F1C6;
}

.chat_msg::-webkit-scrollbar-track:active {
  background-color: #00E9C0;
}
.chat_write-msg{
  width: 100%;
  display: flex;
  padding: 5px;
  height: 10%;
  align-items: center;
  gap: 20px;
}
.chat_write-msg input{
  width: 90%;
  height: 50%;
  background-color: transparent;
  border: 1px solid #00ffd2;
  color: #feef02;
}
.chat_write-msg input::placeholder{
  color: #feef02;
  opacity: 0.5;
}
.chat_btn-send{
  height: 60%;
  font-size: 1vmax;
  justify-content: center;
  align-items: center;
  display: flex;
}
.your-msg,.his-msg{
  width: 40%;
  word-break: break-all;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.your-msg{
  margin-left: auto;
  margin-right: 10px;
  border: 1px solid #00ffd2;
}
.his-msg{
  margin-right: auto;
  margin-left: 10px;
  border: 1px solid #feef02;
}
.my-info{
  position: absolute;
  left: 10vw;
  margin-top: 100px;
  gap: 10px;
  cursor: pointer;
}
.profile{
  position: absolute;
  width: 40vw;
  height: 35vh;
  left: 30vw;
  margin-top: 300px;
  border: 1px solid #00ffd2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile img{
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  &:hover{
    opacity: 70%;
  }
}
.profile span,.profile div{
  font-size: 2vmax;
  cursor: pointer;
  &:hover{
    opacity: 70%;
  }
}
/*No adapted for mobile device,since this is the whole page to redo (I don't want to yet)*/
