body{
    background-image: url(../img/background.gif);
    background-repeat: no-repeat;
    background-position: center;
}
main{
    position: absolute;
    width: 80vw;
    height: 60vh;
    left: 10vw;
    margin-top: 300px;
}
.main--shadow{

    position: absolute;
    width: 80vw;
    height: 60vh;
    left: 10vw;
    margin-top: 290px;
}